{% extends "base.html" %}

{% block contenu %}
<form method="post">
    <label>Nom</label>
    <input type="text" name="nom" value={{contact.nom}}>
    <br>
    <label>Prénom</label>
    <input type="text" name="prenom" value={{contact.prenom}}>
    <br>
    <label>Email</label>
    <input type="email" name="mail" value={{contact.mail}}>
    <br>
    <label>Telephone</label>
    <input type="tel" name="tel" value={{contact.tel}}>
    <br>
    <button type="submit" value="Submit">Submit</button>
</form>
{% endblock %}